/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #0b0b21;
}

body main {
    margin: 16px 0;
}

body main h1 {
    margin-bottom: 28px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

p {
    color: #333;
}

h2 {
    font-weight: 600;
}


/* Navigation Bar */
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#logoutButton {
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    background: #7b211d70;
    margin-left: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    cursor: pointer;
}

#logoutButton:hover {
    background: #fa5d48;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    
}

.navbar .links a:hover{ 
    color: #942923;
    border-color: #942923;
    text-underline-offset: 3px;
    padding-bottom: 12px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: fit-content;
}

.navbar-logo {
    padding-left: 92px;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.navbar .buttons {
    display: flex;
    padding-right: 92px;
}

.navbar .buttons a{
    display: flex;
    align-items: center;
    color: #fff;
   
}

.navbar .buttons form{
    margin: 0;
}

.navbar .buttons .signupbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #7b211d;
    margin-left: 0;
}

.navbar .buttons .signupbtn:hover {
    background: #3e110f;
}

.navbar .buttons .loginbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #7b211d70;
}

.navbar .buttons .loginbtn:hover {
    background: #fa5d48;
}

/* Header */
.background3 {
    background-image: url(../img/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-top: 90px;
}

header p {
    color: #fff;
}

header a {
    text-decoration: none;
}

header .container-2columns {
    display: flex;
    position: relative;
    width: 85%;
    height: 500px;
    margin: 0 112px;
    align-items: center;
    background-image: url(../img/Bannerback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 20px;
    padding: 20px;
    margin-top: 12px;
    /*box-shadow: 0 20px 20px rgba(123, 34, 29, 0.366)*/
    
}

header .container-2columns .text {
    flex: 60%;
    padding-bottom: 52px;
    align-items: center;
    padding-left: 20px;
}

header .container-2columns .text p {
    font-size: 16px;
}

header .container-2columns .text h1 {
    font-size: 48px;
    line-height: 100%;
    color: #fff;
    font-weight: 600;
}

.explorebtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #fa5d48;
    color: #fff;
    margin-left: 0;
    margin-right: 12px;
}

.explorebtn:hover {
    background: #fff;
    color: #fa5d48;
}

header .container-2columns .image {
    flex: 40%;
}

header .container-2columns .image img {
    width: 100%;
}


/*Achievement*/
.achievement-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    height: 190px;
    margin-top: 32px;
    margin-bottom: 80px;
    margin-left: 112px;
    margin-right: 112px;
    
}

.achievement {
    text-align: center;
    padding: 20px;
    border: none;
    width: 250px;
    border-radius: 12px;
    transition: margin-top 0.3s ease-in-out ;
}

.achievement:hover {
    margin-top: 10px;
}

.achievement h2, 
.achievement h6 {
    color: #7b211d ;
    margin: 0; 
    
}

.achievement h6 {
    font-size: 15px;
    font-weight: 700;
}

.achievement hr {
    border: 2.5px solid #7b211d;
    margin: 8px 0;
}

.shadow1{
    box-shadow: 0 5px 8px #fa5d481f;
}

.shadow2{
    box-shadow: 0 -5px 8px #fa5d481f;
}


/*About Us*/
.section-title {
    text-align: center;
}

.section-title h1 {
    font-weight: 700;
    margin: 0;
    padding: 20px;
    margin-top: 80px;
}

.section-title p{
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.section-title a{
    color: #7b211d;
    margin-top: 48px;
    margin-bottom: 88px;
}

.section-title a:hover {
    color: #fa5d48;
}

.about-us-section {
    margin: 0 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}
  
.about-us-image {
    width: 600px;
    text-align: right;
}
  
.about-us-image img {
    max-width: 100%;
    border-radius: 15px;
}
  
.about-us-content {
    flex: 1;
    padding: 20px 80px 20px 0px;
}

.about-us-section .explorebtn {
    background: #7b211d;
    color: #fff;
}

.about-us-section .explorebtn:hover {
    background: #3e110f;
}

/*Service*/
.services-section-background {
    background-color: #7b211d;
    background-image: url(../img/geometric-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 20px 0;
}

.services-section-background .section-title,
.services-section-background p  {
    color: white;
}

.services-section-background .section-title h1{
    margin: 0;
}

.services-section {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 18px 112px 88px 112px;
}

.services-section h3{
    color: white;
    font-weight: 600;
}
  
.service-box {
    background-color: #fa5d487e; /* Background color with transparency */
    background-image: url('../img/frosted-pattern.png'); /* frosted glass effect */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}
  
.services-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
  
.icon-wrapper {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    background-color: #f7f7f777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}
  
  .icon-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
 /* 
  h3 {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  p {
    font-size: 0.9rem;
    color: #666;
  }*/
  


/*Carousel Styles*/
#popularClassCarousel {
    margin-top: 20px;
    margin-bottom: 80px;
    height: 28rem;
    align-items: center;
    background: #485CFA;
    border-radius: 15px;
    margin: 38px 112px 88px 112px;
    
}

#popularClassCarousel p{
    color: white;
}

#popularClassCarousel img{
    width: 100%;
    height: 448px;
    object-fit: cover;
    border-radius: 15px;
}

#popularClassCarousel .carousel-caption {
    bottom: 90px;
    left: 150px;
    text-align: left;
    width: 600px;
}

#popularClassCarousel .detailsbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #fff;
    color: #7b211d;
    margin-top: 12px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

#popularClassCarousel .detailsbtn:hover {
    color: #fff;
    background: #fa5d48;
}

/*Trainer*/
.trainers {
    display: flex;
    justify-content: space-around;
    margin: 38px 112px 0 112px;
}

.trainers a {
    font-weight: 400;
}
  
.trainer-card {
    width: 280px;
    background-color: #f7f7f777;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 5px 8px #fa5d48b2;
    color: white;
    padding-bottom: 28px;
}
  
.trainer-card img {
    width: 100%;
    object-fit: cover;
    max-height: 180px;
    border-radius: 15px 15px 0 0;
}
  
.trainer-card h4 {
    margin: 20px 0 12px 0;
    color: #7b211d;
    font-weight: 600;
}
  
.trainer-card p {
    margin: 12px 0;
    padding: 0 8px;
}



/*Testimonial*/
.testimonial {
    margin: 0 0 0 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}

.testimonial-image {
    width: 666px;
    text-align: right;
}
  
.testimonial-image img {
    max-width: 100%;
    border-radius: 15px;
    padding-right: 60px;
}
 
.testimonial-card {
    flex: 0 0 auto;
    width: 460px;
    background-color: #f7f7f777;
    border-radius: 15px;
    margin-right: 28px;
    box-shadow: 0 5px 8px #fa5d48b2;
    color: white;
    padding: 24px 28px 32px 28px;
}

.testimonial-card img{
    height: 28px;
    margin-top: 16px;
}


.testimonial-scroll{
    display: flex;
    flex: 1;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 20px 8px;
}

.testimonial-scroll .comment{
    min-height: 144px;
}

.testimonial-scroll .user-image {
    display: flex;
    align-items: center;
}

.testimonial-scroll .user-image img{
    object-fit: cover;
    height: 55px;
    border-radius: 28px;
    margin: 0;
}

.testimonial-scroll .user-image p{
    margin-left: 16px;
    font-size: 15px;
}
  
.testimonial-card h4 {
    margin: 20px 0 12px 0;
    color: #7b211d;
    font-weight: 600;
}
  
.testimonial-card p {
    margin: 12px 0;
}

/* Footer */
footer {
    background-color: #7b211d;
    color: #fff;
    padding: 24px 0 12px 0;
    margin-top: 120px;
}

footer h4 {
    margin:12px 0;
    font-weight: 600;
    font-size: 16px;
}

footer h5 {
    margin:12px 0;
    font-weight: 300;
    font-size: 14px;
}

footer .info{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

footer .info .footer-logo{
    padding: 16px 112px 0 112px;
    margin-bottom: 48px;
}

footer .info .footer-logo a img{
    width: 50%;
    height: auto;
    margin-bottom: 12px;
}

footer hr {
    height:2px;
    border-width:0;
    background-color:#9a9a9a;
    margin: 0 112px;
}

footer .copyright p{
    text-align: center;
    font-size: 16px;
    
}

footer .copyright p{
    margin: 0;
    padding: 8px 0;
    text-align: center;
    font-size: 14px; 
    color: white;
}

.relative-footer {
    position: relative;
    top: 100px;
}

.relative-footer2 {
    position: relative;
    top: 100px;
    bottom: 0;
}

/*signup.php page*/
.background2 {
    background-image: url(../img/background2.png);
    object-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.blank {
    height: 78px;
}


.signupform {
    position: relative;
    top: 80px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    color: #000;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.874);
}

.signupform h3 {
    color: #0b0b21;
    font-weight: 600;
    text-align: left;
}

.signupform .left-column {
    background: #0b0b21;
    position: relative;
    border-radius: 15px 0 0 15px;
    height: 590px;
    text-align: center;
    align-items: center;
    z-index: -2;
}

.signupform .left-column h1 {
    position: absolute;
    top: 180px;
    left: 50px;
    color: white;
}

.signupform .left-column img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px 0 0 15px;
}

.signupform .right-column {
    background-color: #fff;
    padding: 28px 40px 76px 28px;
    text-align: center;
    
    border-radius: 0 15px 15px 0;
}

.signupform .inputbox {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.signupform .input-row {
    display: flex;
}

.signupform .buttonrow {
    display: flex;
    flex-direction: column;
}

.signupform .buttonrow .form-signupbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #7b211d;
    margin-left: 0;
    color: #fff;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin: 32px 0 16px 24px;
}

.signupform .buttonrow .form-signupbtn:hover {
    background: #3e110f;
}

.signupform .buttonrow .form-loginbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #7b211d70;
    margin: 0 0 0 24px;
    color: white;
}

.signupform .buttonrow .form-loginbtn:hover {
    background: #fa5d48;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    text-align: left;
    margin-top: 12px;
    color: #000000;
    max-width: 300px;
    font-weight: 500;
}

input {
    border-radius: 10px;
    border: 1.5px solid rgba(128, 128, 128, 0.541);
    height: 20px;
    width: 300px;
    align-items: center;
    padding: 12px;
}

.success-message {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px;
    text-align: center;
    font-size: 18px; 
    font-weight: 500;  
}

.signup_error_message {
    background-color: #c92727; 
    color: white; 
    padding: 10px;
    text-align: center;
    font-size: 18px; 
    font-weight: 500; 
}

/*login.php page*/

.loginform {
    position: relative;
    top: 80px;
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 0 0 15px;
    border: none;
    color: #000;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.874);
}


.loginform .left-column {
    background: #0b0b21;
    position: relative;
    border-radius: 15px 0 0 15px;
    height: 432px;
    text-align: center;
    align-items: center;
    z-index: -2;
    width: 232px;
}

.loginform .left-column h1 {
    position: absolute;
    top: 120px;
    left: 70px;
    color: white;
}

.loginform .left-column img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 432px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px 0 0 15px;
}

.loginform .right-column {
    background-color: #fff;
    padding: 28px 40px 76px 28px;
    text-align: center;
    
    border-radius: 0 15px 15px 0;
}

.loginform .inputbox {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.loginform .input-row {
    display: flex;
}

.loginform .buttonrow {
    display: flex;
    flex-direction: column;
}

.loginform .buttonrow .form-loginbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #7b211d;
    margin-left: 0;
    color: #fff;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin: 32px 0 16px 24px;
}

.loginform .buttonrow .form-loginbtn:hover {
    background: #3e110f;
}

.loginform .buttonrow .form-signupbtn {
    padding: 12px 16px;
    border-radius: 10px;
    background: #7b211d70;
    margin: 0 0 0 24px;
    color: white;
}

.loginform .buttonrow .form-signupbtn:hover {
    background: #fa5d48;
}


.login_error_message {
    background-color: #c92727; 
    color: white; 
    padding: 10px;
    text-align: center;
    font-size: 18px; 
    font-weight: 500;
}



/*profile.php page*/
.booking-profile-container{
    display: flex;
    margin: 160px 112px 0 112px;
    justify-content: space-between;
}

.bookings-section{
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 5px 8px #fa5d48b2;
    width: 80%;
    max-width: 500px; /* Adjust the max width as needed */
    text-align: center;
    height: fit-content;
    margin-right: 20px;
}

.booking-item {
    
    color: white;
    border-radius: 12px;
    margin-top: 12px;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    border: #3333333e solid 2px;
}

.booking-item img{
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
}

.booking-details {
    padding-left: 20px;
}

.booking-details h3 {
    color: #585163;
}

.profileform {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px; /* Adjust the max width as needed */
    text-align: center;
    height: fit-content;
    margin-left: 20px;
    /**/
}

.profileform form {
    margin: 0;
}


.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url(../img/background4.jpg);
    padding: 16px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.profile-image-container #profile_picture {
    border: 3px solid white;
    background:  #ffffffa2;
}

.profile-image-container #uploadLabel {
    margin: 0;
    color: white;
}

.profile-image-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid  #7b211d;
}


#uploadLabel {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

#editButton,
#saveButton {
    padding: 12px 265px;
    border-radius: 10px;
    background: #7b211d;
    margin-left: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 24px 0;
}

#editButton:hover,
#saveButton:hover {
    background: #3e110f;
}

#deleteButton{
    padding: 12px 223.8px;
    border-radius: 10px;
    background: #7b211d70;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: 24px;
}

#deleteButton:hover {
    background: #fa5d48;
}



.profileform .inputbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px 0;
}

.profileform input[type="text"],
.profileform input[type="password"],
.profileform input[type="email"],
.profileform input[type="tel"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.profileform input[type="file"] {
    display: none; /* Hide the file input initially */
}

#username-profile {
    font-weight: 500;
    color: white;
    border:none;
    background: #00000000;
    text-align: center;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
}

.notification {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}