#filter-specialty {
    margin: 0 112px;
}

#trainers {
    margin-top: 100px;
    margin: 40px 112px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 36px;
}

.trainer-thumbnail {
    display: inline-block;
    background-color: #f7f7f777;
    border-radius: 15px;
    box-shadow: 0 5px 8px #fa5d48b2;
}

.trainer-thumbnail h4 {
    padding-top: 16px;
    color: #7b211d;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.trainer-thumbnail-img img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px 15px 0 0;
}


.trainer-thumbnail .trainer-info{
    text-align: center;
    align-items: center;
    padding: 4px 16px 20px;
}

.trainer-thumbnail .trainer-info p{
    margin: 0; 
    padding: 0 16px;
    padding-bottom: 4px;
    font-weight: 500;
    color: #585163;
}



.page-banner {
    text-align: center;
    position: relative;
    height: 300px;
    margin: 0 112px;
    align-items: center;
    background-image: url(../img/trainers-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 20px;
    padding: 20px;
    margin-top: 12px;
    /* box-shadow: 0 20px 20px rgba(123, 34, 29, 0.366); */
}

.page-banner .text{
    position: relative;
    top: 100px;
}

.page-banner .text h1 {
    font-size: 36px;
    line-height: 100%;
    color: #fff;
    font-weight: 600;
}
.page-banner .text p {
    color: #fff;
}